<header>
  
  <div class="title">
    <img class="headershope-img" src="./assets/S.png" alt="Letter S">
      <h1>Shopéame!</h1>
  </div>
  <nav class = "bar">
      <a routerLink="/">
        <div class="container"><img class="image-cabecera" src="./assets/A.png" alt=""> Home
        </div>
      </a>
      <a routerLink="/products">
        <div class="container"><img class="image-cabecera" src="./assets/B.png" alt=""> Prods.
      </div> 
    </a>
      <a routerLink="/management">
        <div class="container"><img class="image-cabecera" src="./assets/C.png" alt="">Gestión
        </div>
      </a>
  </nav>
</header>


<!-- <header class="header">
  <div class="headershope">
      <img class="headershope-img" src="../../../assets/S.png" alt="Letter S">
      <h1 class="headershope-h1">Shopéame!</h1>
  </div>
  <nav class="headernav">
      <a class="headernav-a" routerLink="/"><div class="headernav-div"> <img class="headernav-img" src="../../../assets/A.png" alt="A">Home</div></a>
      <a class="headernav-a" routerLink="/products"><div class="headernav-div"><img class="headernav-img" src="../../../assets/B.png" alt="B">Products</div></a>
      <a class="headernav-a" routerLink="/gestion"><div class="headernav-div"><img class="header__nav-img" src="../../../assets/C.png" alt="C">Gestion</div></a>
  </nav>

</header> -->
