
<div class="container">

  <div class="container--text">
    <h1 class="title">Bienvenido a <i>Shopéame</i></h1>
    <h3>Qué es <i>Shopéame</i> ?</h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas enim
      dolorem quae eaque odio quod ipsam dignissimos, assumenda, quia, est
      dolorum. Molestiae officia facilis adipisci eaque recusandae? Molestias,
      vero nesciunt!
    </p>

    <h3>para qué puedo usar <i>Shopéame</i></h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates
      odio tempore ratione tempora at ad, deserunt dicta omnis earum id possimus
      accusamus! Unde laborum aliquam illo minima nesciunt quisquam.
    </p>

    <h3>Quiénes hacemos en <i>Shopéame</i></h3>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quam,
      recusandae dolor cumque quis dolore delectus vel neque deleniti in rem
      quas tempore assumenda natus, fuga magni doloribus! Harum, dolorem.
    </p>

    <h3>Es seguro usar <i>Shopéame</i></h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore totam
      dolore porro mollitia quaerat, voluptas velit? Enim, mollitia est placeat,
      dolore voluptatibus, libero esse quos atque doloremque ut odio saepe.
    </p>
  </div>
</div>
