div{
    h5, p{
        background-color: rgb(55, 54, 54);
    }

    .block{
        height: 200px;
        background-color: rgb(55, 54, 54);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        justify-content: center;
        color: white;
        font-size: 17px;
        letter-spacing: 1px;
    }
}